
@use '../../variables' as vars;

/* Button Styles */
.btn {
    @include vars.rounded(20px);
    background-color: vars.$neutral-0;
    padding: 0.3rem 0.6rem;
    border: 1px solid;
    cursor: pointer;

    &.btn-active {
        background-color: vars.$red-500;
        color: vars.$neutral-0;
        border-color: vars.$red-400;
    }

    &:hover {
        background-color: vars.$neutral-300;
        border-color: vars.$neutral-300;
    }

    
}



