@use '../../variables' as vars;

.card {
    @include vars.rounded(20px);
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: vars.$neutral-0;
    gap: 1rem;
    padding: 1rem;
}

.card-desc {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.logo {
    align-self: flex-start;
}

.remove-toggle-container {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}