@use '../../variables' as vars;


.app-container.dark {
    .card {
        background-color: vars.$neutral-800;
        color: vars.$neutral-100;

        .card-btn {
            &:hover {
                background-color: vars.$red-400;
            }
        }
    }
}

    

.card {
    @include vars.rounded(20px);
    display: flex;
    flex-direction: column;
    width: 330px;
    background-color: vars.$neutral-0;
    gap: 1rem;
    padding: 1rem;

    .card-btn {
            &:hover {
                background-color: vars.$red-400;
            }
        }
}

.card-desc {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.logo {
    align-self: flex-start;
}

.remove-toggle-container {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}