@use '../../variables' as vars;

.app-container.dark {
    .header-container {
        background-color: vars.$neutral-800;
    }
}

.header-container {
   @include vars.rounded(4px);
    display: flex;
   width: 100%;
   margin: 1.5rem auto;
   background-color: vars.$neutral-0;
}

.gradient-toggle {
    @include vars.rounded(4px);
    margin-left: auto;
    background-color: vars.$neutral-300;
    padding: 0.5rem;
    cursor: pointer;
}