@use './variables' as vars;

body {
  background: vars.$light-gradient;
}

.ext-list-container {
  display: flex;
  flex-direction: column;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

h1 {
  text-align: center;
}


