@use './variables' as vars;
* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

.rounded {
  border-radius: 20px;
}

.shadow {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#root.light-gradient {
  background: vars.$light-gradient;
}

#root.dark-gradient {
  background: vars.$dark-gradient;
}